@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 66%;

    --golden: 57.6 100% 50%;

    --brass: 40 100% 50%;

    --white: 202 23% 96%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply hide-scrollbar bg-background text-foreground;
  }
}
html {
  @apply antialiased;
}

html,
body {
  @apply !scroll-smooth;
}

input,
textarea {
  @apply min-w-0;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center text-center;
  }

  .hide-scrollbar {
    @apply [&::-webkit-scrollbar]:hidden; /* Webkit */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .footer-links-section {
    @apply text-base font-light xl:text-2xl;

    > h3 {
      @apply font-semibold;
    }
  }

  .page-sections-wrapper {
    @apply hide-scrollbar h-screen snap-y snap-mandatory overflow-y-scroll scroll-smooth;
  }

  .floating-side-menu {
    @apply flex-center absolute bottom-7 z-10 w-full gap-2 xl:right-[max(50px,calc((100vw-1920px)/2))] xl:top-0 xl:min-h-screen xl:w-fit xl:flex-col;
  }

  .floating-chat-button {
    @apply flex-center absolute bottom-7 right-5 z-50 size-11 cursor-pointer rounded-full bg-dark shadow-blue hover:scale-105 xl:right-[max(30px,calc((100vw-1900px)/2))] 2xl:size-16;
  }

  .page-section {
    @apply flex-center h-screen w-full overflow-hidden bg-effects bg-cover bg-center px-5 pb-[90px] pt-24 xl:px-[max(120px,calc((100vw-1780px)/2))] xl:pb-[40px] 2xl:pt-[calc(116px+20px)];

    & > div {
      @apply h-full max-h-[min(100%,1080px)] w-full max-w-[min(100%,1920px)] max-xl:rounded-[30px];
    }
  }

  .text-gradient {
    @apply inline-block bg-clip-text leading-tight text-transparent;
  }

  .text-gradient-dark {
    @apply text-gradient bg-gradient-to-r from-[#000] to-[#4e4e4e];
  }

  .text-gradient-brass {
    @apply text-gradient bg-gradient-to-b from-[#ffb800] to-[#da8300];
  }

  .btn-golden-variant {
    > span,
    > a {
      @apply text-gradient-dark;
    }
  }

  /* to ensure ScrollArea inner divs will expand vertically */
  .scroll-area-viewport > div {
    @apply h-full;
  }

  svg {
    shape-rendering: geometricPrecision;
  }

  .subtitle-badge {
    @apply flex-center rounded-md font-semibold text-brass opacity-80 hover:shadow-yellow xl:rounded-lg;

    background:
      linear-gradient(222.9deg, rgb(26, 27, 31) 0%, rgb(25, 27, 33) 100%)
        padding-box,
      radial-gradient(
          120.8% 120.8% at 112.39% -45.45%,
          #ffb800 0%,
          rgba(255, 184, 0, 0.11) 100%
        )
        border-box;

    border: 2px solid transparent;
  }

  .active-side-menu-button {
    background:
      linear-gradient(
          222.9deg,
          rgba(8, 16, 37, 0.8) 0%,
          rgba(33, 67, 153, 0.8) 100%
        )
        padding-box,
      linear-gradient(213.42deg, #0094ff -33.23%, rgba(33, 67, 153, 0.4) 100%)
        border-box;

    border: 1px solid transparent;

    box-shadow: 0px 0px 4px 0px rgba(0, 148, 255, 0.61);

    & > svg {
      @apply drop-shadow-[0px_0px_2px_#ffb800];
    }
  }

  .special-border-green {
    background:
      linear-gradient(
          103.69deg,
          rgba(0, 0, 0, 1) 45.84%,
          rgba(27, 19, 74, 1) 101.12%
        )
        padding-box,
      linear-gradient(213.42deg, #05ff00 -33.23%, rgba(219, 255, 0, 0) 80.12%)
        border-box;

    border: 1px solid transparent;

    box-shadow: 0px 0px 7.3px rgba(0, 194, 255, 0.29);
  }
}
